---
// TapForge Logo Component
---

<a href="/" class="navbar-brand block">
  <div class="flex items-center space-x-3">
    <img
      src="/images/favicon.ico"
      alt="TapForge Logo"
      class="w-16 h-16 md:w-18 md:h-18 rounded-lg"
    />
    <span class="text-3xl md:text-4xl font-bold text-gray-900">TapForge</span>
  </div>
</a>
