---
// TapForge Logo Component
---

<a href="/" class="navbar-brand block">
  <div class="flex items-center space-x-3">
    <img 
      src="/images/favicon.ico" 
      alt="TapForge Logo" 
      class="w-10 h-10 rounded-lg"
    />
    <span class="text-2xl font-bold text-gray-900">TapForge</span>
  </div>
</a>
