---
// TapForge Logo Component
const { src } = Astro.props;
---

<a href="/" class="navbar-brand block">
  <div class="flex items-center space-x-2">
    <div class="w-10 h-10 bg-blue-500 rounded-lg flex items-center justify-center">
      <span class="text-white font-bold text-xl">T</span>
    </div>
    <span class="text-2xl font-bold text-gray-900">TapForge</span>
  </div>
</a>
